*{
    box-sizing: border-box;
    padding: 0;
}


.navbar-header{
    position:fixed;
    background-color: grey;
    width:100%;
}

.navbar
{
    border-radius: 0px;
    background-color: gray;
}

#menu{
    text-align: center;
}



#nav-list{
    margin-top:40px;
}
.item{
    padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
	text-align:center;
}

#blocks div{
    background-color: rgb(167, 167, 167);
    height: 1000px;
    font-weight: bold;
    color: black;
}

#blocks div h3{
    text-align:center;
}


a, a:focus, a:active, a:hover{
    text-decoration: none !important;
    color: black !important;
}

.navbar-default, .navbar{
    padding: 0px !important;
    margin: -5px !important;
}
